<div class="table table-sm">
  <table>
    <thead class="table align-middle bg-light" >
        <tr>
           <th class="p-3">Diseño</th>
           <th class="p-3">Modelo</th>
           <th class="p-3">Pantalla</th>
           <th class="p-3">Chip</th>
           <th class="p-3">Bateria</th>
           <th class="p-3">Conector</th>
           <th class="p-3">Precio</th>
           <th class="p-3">Stock</th>
           <th class="p-3">Comprar</th>
           <th class="p-3"> </th>
        </tr>
        @for (iphone of iphones; track iphone.model) {
            <tr class="m-3" [ngClass]="{'sale': iphone.sale}"> 
              <td><img class="img" [src]="iphone.img" [alt]=""></td>
              <td>{{iphone.model}}</td>
              <td>{{iphone.screen}}</td>
              <td>{{iphone.chip}}</td>
              <td>{{iphone.batery}}</td>
              <td>{{iphone.conection}}</td>
              <td>{{ iphone.price | currency }}</td>
              @if (iphone.stock > 0) {
                <td>{{ iphone.stock }}</td>
                <td>
                <app-input-number [(quantity)] = "iphone.quantity" [max]= "iphone.stock"></app-input-number>
                <button class="btn btn-sm" (click)="addCart(iphone)">add</button>
                </td>
              } @else {
                <td><span class="badge text-bg-danger">Sin Stock</span></td>
              }
              
              
             
            </tr>
          } @empty {
            <tr>
              <td colspan="4">No hay productos para mostrar.</td>
            </tr>
          }
          
          
       </thead>
  </table>
</div>