<div class="px-4 py-5 my-5 text-center">
    <svg xmlns="http://www.w3.org/2000/svg" width="120" height="120" fill="currentColor" class="bi bi-apple" viewBox="0 0 16 16">
        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
        <path d="M11.182.008C11.148-.03 9.923.023 8.857 1.18c-1.066 1.156-.902 2.482-.878 2.516s1.52.087 2.475-1.258.762-2.391.728-2.43m3.314 11.733c-.048-.096-2.325-1.234-2.113-3.422s1.675-2.789 1.698-2.854-.597-.79-1.254-1.157a3.7 3.7 0 0 0-1.563-.434c-.108-.003-.483-.095-1.254.116-.508.139-1.653.589-1.968.607-.316.018-1.256-.522-2.267-.665-.647-.125-1.333.131-1.824.328-.49.196-1.422.754-2.074 2.237-.652 1.482-.311 3.83-.067 4.56s.625 1.924 1.273 2.796c.576.984 1.34 1.667 1.659 1.899s1.219.386 1.843.067c.502-.308 1.408-.485 1.766-.472.357.013 1.061.154 1.782.539.571.197 1.111.115 1.652-.105.541-.221 1.324-1.059 2.238-2.758q.52-1.185.473-1.282"/>
      </svg>
    <h2 class="display-5 fw-bold text-body-emphasis mt-3">Apple Inc</h2>
    <div class="col-lg-12 mx-auto">
      <p class="lead mb-4">Apple, Inc. es una empresa tecnológica multinacional estadounidense 
        con sede en Cupertino, California. Es la empresa de tecnología más grande del mundo por 
        ingresos, con US$394,3 mil millones en ingresos en 2022. En marzo de 2023, Apple es la 
        empresa más grande del mundo por capitalización de mercado. En junio de 2022, Apple es
        el cuarto mayor proveedor de computadoras personales por ventas de unidades; la mayor
        empresa manufacturera por ingresos; y primer fabricante de teléfonos móviles del mundo
        en 2023​. 
      </p>
    </div>


    <h2 class="display-6 fw-bold  mt-3"> Comunicarse con AppleLatinoamérica y el Caribe</h2>
    <ul class="list-unstyled">
      <li>
        <p><b>Brasil </b> : 0800-761-0880</p>
      </li>
      <li>
        <p><b>Chile </b> : 800 380230</p>
      </li>
      <li>
        <p class="gb-paragraph"><b>México </b> : 001-866-676-5682</p>
      </li>
    </ul>
    <h2 class="display-6 m-4 p-3">¿Tienes alguna duda sobre la compra de productos Apple?</h2>  
    <div>
        <p class="">Muchos de estos números de teléfono solo funcionan
          cuando se marcan desde el país o la región correspondiente. Los números
        de teléfono pueden cambiar. 
    </p>
    </div>

    <div class="text-start fst-italic ">
        <ol class="list-group">
            <li>
                <p>Se aplican las tarifas telefónicas locales y nacionales vigentes.</p>
            </li>
            <li >
                <p>Si usas un teléfono celular para llamar a un número gratuito, es posible que se te cobre. 
                Es posible que no puedas comunicarte con este número de teléfono si llamas desde determinados operadores de telefonía celular. Para obtener más información, comunícate con tu operador de telefonía celular.</p>
            </li>
            <li>
                <p>Tarifa ;PSTN para Moscú; tarifas nacionales para otras regiones. De acuerdo con las nuevas sanciones en la región de Crimea, anunciadas por 
                el Gobierno de Estados Unidos el 19 de diciembre de 2014, y con el Reglamento N.º 1351/2014 del Consejo 
                Europeo del 18 de diciembre de 2014, la venta de productos Apple y/o la prestación de servicios relacionados con los productos Apple
                en la región de Crimea están suspendidas desde el 1 de febrero de 2015.</p>
            </li>
            <li>
                <p>El número de teléfono gratuito del soporte técnico no está disponible desde teléfonos celulares.</p>
            </li>
            <li>
                <p>A los clientes se les cobrará la tarifa;IDD del operador pertinente.</p>
            </li>
        </ol>
    </div>

  </div>